{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/stylesLogin.css')}}">
    <title>Authentification</title>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>



    <div class="sidenav">
        <div class="login-main-text">
            <h2>S'inscrire</h2>
            <p><strong>Merci de remplir le formulaire</strong>
                <br>Vous aurez besoin d'être identifié pour accéder aux fonctionnalités du site </p>
            <a href="{{ path('home') }}">Acceuil</a>
        </div>
    </div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
                <form method="post">
                {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.alias, {
                            label: 'Alias'
                        }) }}
                    </div>


        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
                    <button class="btn btn-black" type="">
                        <a href="/register">Déjà inscrit</a>
                    </button>
                </form>
        </div>
    </div>
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
{% endblock %}
